/* @font-face {
  font-display: swap;
  font-family: Body;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/raleway-v28-latin-regular.woff2') format('woff2'),
    url('/fonts/raleway-v28-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Body;
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/raleway-v28-latin-italic.woff2') format('woff2'),
    url('/fonts/raleway-v28-latin-italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Body;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/raleway-v28-latin-700.woff2') format('woff2'),
    url('/fonts/raleway-v28-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Heading;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/rokkitt-v34-latin-700.woff2') format('woff2'),
    url('/fonts/rokkitt-v34-latin-700.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Heading;
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/rokkitt-v34-latin-700italic.woff2') format('woff2'),
    url('/fonts/rokkitt-v34-latin-700italic.woff') format('woff');
} */

html {
  font-family: "Source Sans 3", Verdana, Geneva, Tahoma, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Body, sans-serif; */
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-family: Heading, serif; */
}

footer {
  background-color: yellow;
  background-color: #eee;
  border-top: 2px solid hsl(150, 70%, 31%);
}

aside {
  background-color: #333;
  color: #eee;
}

blockquote {
  font-style: italic;
  padding-left: .5rem;
  border-left: .5rem solid #ccc;
}

figcaption {
  font-style: italic;
  margin-top: 0;
}

.callout {
  background-color: #313D2B;
  border: 2px solid #ccc;
  color: #eee;
  padding: 0 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  border-radius: .6rem;
}

.social-media-icons {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: hsl(150, 70%, 31%);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

figure > p {
  margin-bottom: 0;
}

.social-media-icons > li {
  margin-right: .5rem;
}

.multi-column {
  column-count: 3;
  column-width: auto;
  column-gap: 40px;
  column-rule: 2px dotted hsl(150, 70%, 31%);
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}

.multi-column > li {
  margin-bottom: .5em;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.multi-column > .col {
  border: 1px solid #ddd;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.multi-column > .col .card-text {
  padding: 0 1rem;
  line-height: 1.5;
}

.multi-column.no-rule {
  column-rule-width: 0;
}

footer h2 {
  text-transform: uppercase;
}

/* Cards */

.container {
  /* width: 100%; */
  padding-left: .75rem;
  padding-right: .75rem;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 2rem;
}

.row {
  display: flex;
  width: 100%;
  /* margin-left: -.75rem;
  margin-right: -.75rem; */
}

.row > section {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  flex: 1;
  padding-left: .75rem;
  padding-right: .75rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: .5rem;
}

.card > img {
  width: 100%;
  height: auto;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.h-100 {
  height: 100%;
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-top: 0;
}

.card-text {
  margin-bottom: 0;
}

/* Employees */

.employees {
  display: grid;
  /* grid-template-rows: 1fr 1fr; */
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 2rem;
}

.employees .card-text {
  margin-top: 0;
}

/* @media (max-width: 767px) {
  .employees {
    display: block;
  }

  .employees > .card {
    margin-bottom: 1rem;
  }
} */

/* @media (min-width: 1200px) and (max-width: 1399px) {
  .employees {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* @media (min-width: 1400px) {
  .employees {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  } */

/*   .employees > :nth-child(1) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .employees > :nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .employees > :nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .employees > :nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  } */
/* } */
